<div class="home-container flex-column">
	<div class="section">
		<h2>confirm-modal-demo</h2>
		<button class="btn" (click)="showTextModal()">Show Text Modal</button>
		<button class="btn" (click)="showTemplateModal()">Show Template Modal</button>
		<button class="btn" (click)="showComponentModal()">Show Component Modal</button>
	</div>
</div>

<ng-template #templateModal>
	<h3>This content is inside a template</h3>
	<div>{{templateText}}</div>
	<div class="template-style">Styles work also</div>
	<button class="btn btn-primary" (click)="modalButtonClick()">Click Me</button>
</ng-template>
