/* You can add global styles to this file, and also import other style files */
@import 'variables';

/* Any UI framework imports go here */
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/**
 * Bootstrap implementation, do not need to define in index.html OR angular.json
 * MUST be defined AFTER variables so those variables are used instead of bootstrap's.
 *
 * Sizes defined in rem, em and % or font-sizes in px (use rem here) or bootstrap will break
 * the compilation of scss
 */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-bootstrap/datepicker/bs-datepicker';

@import 'mixins';

/* misc/app-global should be last in order to override any other styles */
@import 'misc/flexbox';
@import 'misc/app-global';

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 0.75rem;
	overflow: hidden;
	margin: 0;
	height: 100vh;
}

/**
 * For the sake of cleanliness all global styles are placed elsewhere (i.e. in the misc folder)
 */


